.vscode/**
.vscode-test/**
out/test/**

src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

env/**
example-workspace/**
.pre-commit-config.yaml
fabfile.py
resources/demo.mkv
resources/palette.png
